<div class="modal fade" id="js-modal-ajax-plan" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form class="form-ajax" action="lead.php" method="POST">
                    <input type="hidden" name="google_c" value="group_form63">
                    <input type="hidden" name="yandex_c" value="GROUP_CONFIRM">
                    <input type="hidden" name="type" value="Запись в группу">
                    <input type="hidden" name="detail" id="modal-detail" value="">
                    <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                        <span>&times;</span>
                    </button>
                    <h4 class="modal-title">Хастл - начинающие</h4>
                    <div class="mod__text-1">Первое занятие за 99 руб.
                    </div>
                    <div class="mod__row-1">
                        <div class="mod__col-1">
                            <div class="mod__text-2">Общая информация</div>
                            <table class="mod__table-1">
                                <tr>
                                    <td>Начало занятий</td>
                                    <td>17 Января 2017</td>
                                </tr>
                                <tr>
                                    <td>Дни недели</td>
                                    <td>Вторник, Четверг</td>
                                </tr>
                                <tr>
                                    <td>Время занятий</td>
                                    <td>20:30-22:00</td>
                                </tr>
                                <tr>
                                    <td>Метро</td>
                                    <td>Краснопресненская</td>
                                </tr>
                            </table>
                        </div>
                        <div class="mod__col-1">
                            <div class="mod__text-2">Стоимость занятий</div>
                            <table class="mod__table-1">
                                <tr>
                                    <td>Разовое посещение</td>
                                    <td>550</td>
                                </tr>
                                <tr>
                                    <td>Абонемент на 8 занятий (1 пропуск)</td>
                                    <td>3500</td>
                                </tr>
                                <tr>
                                    <td>Абонемент на 16 занятий (2 пропуска)</td>
                                    <td>6400</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Для студентов скидка — 1000 руб.</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="mod__row-2">
                        <div class="mod__col-2">
                            <div class="mod__text-3">
                                Подробнее о курсе
                            </div>
                            <ul class="mod__text-ul-1">
                                <li>Сможете уверенно чувствовать себя на хастл-дискотеках;</li>
                                <li>Украсите свои фотоальбомы эффектными танцевальными снимками;</li>
                                <li>Приобретете десяток новых друзей;</li>
                                <li>Станете увереннее в себе, стройнее и счастливее;</li>
                            </ul>
                        </div>
                        <div class="mod__col-2">
                            <div class="mod__text-3">
                                В конце курса Вы научитесь
                            </div>
                            <ul class="mod__text-ul-1">
                                <li>Основным элементам хастла (базовый шаг, смены, «веревочки», поддержки, вращения);
                                </li>
                                <li>Понимать партнера/партнершу без слов;</li>
                                <li>«Обыгрывать» своими движениями музыку;</li>
                                <li>Приглашать на танец любого понравившегося человека;</li>
                            </ul>
                        </div>
                    </div>
                    <div class="mod__trener-text">Преподаватели</div>
                    <div class="mod__trener-row">
                        <div class="mod__trener-col">
                            <div class="mod__trener-img">
                                <img src="img/example/mod/5.jpg" alt="">
                            </div>
                        </div>
                        <div class="mod__trener-col">
                            <div class="mod__trener-text-1">Галина Романчикова</div>

                            <div class="mod__trener-text-2">B и Star-класс по хастлу, финалист и победитель Чемпионата
                                Москвы в отдельных номинациях Галина – увлеченный своим делом, трудолюбивый и невероятно
                                талантливый танцор и педагог, который умеет по-настоящему мотивировать и вдохновлять
                                своих учеников (а также организовывать самые крутые тусовки). Владеет десятками
                                танцевальных стилей (от классической хореографии до хип-хопа) – и умело интегрирует это
                                в парный танец.
                            </div>
                        </div>
                        <div class="mod__trener-col">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe allowfullscreen class="embed-responsive-item"
                                        src="https://www.youtube.com/embed/JXKXB_GT_ko"></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="mod__trener-row">
                        <div class="mod__trener-col">
                            <div class="mod__trener-img">
                                <img src="img/example/mod/6.jpg" alt="">
                            </div>
                        </div>
                        <div class="mod__trener-col">
                            <div class="mod__trener-text-1">Евгений Арутюнян</div>
                            <ul class="mod__trener-text-ul">
                                <li>Танцевальный стаж – 10 лет
                                </li>
                                <li>B и Star - класс по хастлу, финалист Чемпионатов Москвы (2015) и России (2014) в
                                    различных номинациях
                                    Евгений – любимый «танцевальный папа» десятков учеников, очень эмоциональный и
                                    радеющий за каждого из своих учеников, активно поддерживающий их на конкурсах и
                                    дискотеках.
                                </li>
                            </ul>
                            <div class="mod__trener-text-2">«В хастл меня привела девушка, которая очень хотела
                                научиться танцевать, но стеснялась приходить без «своего» партнера. Поначалу я отлынивал
                                от занятий, как мог, пока не понял, глядя на лучших танцоров, сколько в хастле можно
                                найти интересных способов
                            </div>
                        </div>
                        <div class="mod__trener-col">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe allowfullscreen class="embed-responsive-item"
                                        src="https://www.youtube.com/embed/6LaQzOP0Knk"></iframe>
                            </div>
                        </div>
                    </div>

                    <div class="mod__form-wrap">
                        <div class="mod__trener-text">Записаться</div>
                        <div class="modal-group">
                            <label class="modal-group__label">Ваше имя:</label>
                            <input name="name" class="modal-group__input" type="text"
                                   placeholder="Иван Иванов">
                        </div>
                        <div class="modal-group">
                            <label class="modal-group__label">Ваш телефон <span>*</span>:</label>
                            <input name="tel" class="modal-group__input js-mask-phone required" type="text"
                                   placeholder="+7 (___) ___-__-__" required>
                        </div>
                        <div class="modal-group">
                            <button class="modal-group__button" type="submit">Записаться</button>
                        </div>
                    </div>

                    <div class="mod__text-5">
                        Тренеры ТСК "Динамика" и специальная группа организаторов создают активную социальную жизнь
                        клуба. ТСК "Динамика" является известным организатором любимых хастловцами дискотек и
                        популярнейших хастл-вечеринок, клуб активно проводит культурно-массовые мероприятия,
                        благотворительные акции, спортивные и развлекательные выезды, посиделки в ресторанах и кафешках,
                        шашлыки, походы, танцы под открытым небом, выездные сборы, поездки на танцевальные турниры в
                        разные города и страны, флешмобы, катания на коньках, лыжах, лошадях и прочие интегрирующие
                        учеников мероприятия, так что в их группах всегда складываются дружеские и тёплые отношения
                        между людьми, что позволит Вам обрести замечательную интересную компанию, новых друзей и,
                        возможно, встретить свою любовь!
                    </div>
                    <div class="mod__trener-text">Как проехать</div>
                    <div class="mod__map-row">
                        <div class="mod__map-col">
                            <div class="mod__map-img-wrap">
                                <img src="img/example/mod/map2.jpg">
                            </div>
                        </div>
                        <div class="mod__map-col">
                            <div class="mod__map-text-1"><b>Адрес зала:</b> метро Краснопресненская, Пресненский пер, д.
                                2, Спортивный клуб "Дружба"
                            </div>
                            <div class="mod__map-text-2"><b>Площадь зала:</b> 80 кв.м.</div>

                            <div class="mod__map-text-1"><b>Напольное покрытие:</b> ламинат;</div>
                            <div class="mod__map-text-1"><b> Воздух:</b> сплит-система, вытяжка;</div>
                            <div class="mod__map-text-1"><b>Раздевалки:</b> мужская, женская;</div>

                            <div class="mod__map-text-1"><b>Описание дороги до зала:</b></div>
                            <div class="mod__map-text-2">м. Краснопресненская, после выхода на улицу из стеклянных
                                дверей повернуть налево. Далее идти прямо по ул. Красная Пресня до пересечения с
                                Пресненским переулком и повернуть налево на него. Идем прямо по переулку, проходим мимо
                                шлагбаума ( он будет по левую руку от вас) и через 3 метра слева будет вход, центр
                                досуга "Дружба", вам туда:)
                            </div>
                            <div class="mod__map-text-2">Любые вопросы можно задать по телефону: <a
                                    href="tel:+79168246661">+7-916-824-666-1</a></div>
                        </div>
                    </div>
                    <div class="mod__trener-text">В чём приходить на занятия</div>
                    <div class="mod__row-21">
                        <div class="mod__col-21">
                            <div class="mod__text-3">
                                Одежда
                            </div>
                            <div class="mod__text-21">Должна быть свободной, не стесняющей движений. Главное, чтобы Вам
                                было удобно двигаться, поэтому нежелательно одевать мини-юбки, высокие каблуки и обувь с
                                длинными носами.
                            </div>
                        </div>
                        <div class="mod__col-21">
                            <div class="mod__text-3">
                                Обувь
                            </div>
                            <div class="mod__text-21">На занятия желательно одевать без каблуков, особенно на первом
                                этапе (идеальный вариант - это джазовки или чешки).
                            </div>
                        </div>
                    </div>
                    <!--

                     -->

                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $('#js-modal-ajax-plan').on('hidden.bs.modal', function (e) {
        window.location.hash = "!";
        $('#js-modal-ajax-plan').remove();
    });
</script>