<div class="modal fade" id="js-modal-ajax-plan" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form class="form-ajax" action="lead.php" method="POST">
                    <input type="hidden" name="google_c" value="group_form63">
                    <input type="hidden" name="yandex_c" value="GROUP_CONFIRM">
                    <input type="hidden" name="type" value="Запись в группу">
                    <input type="hidden" name="detail" id="modal-detail" value="">
                    <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                        <span>&times;</span>
                    </button>
                    <h4 class="modal-title">Хастл ДНД - BEGINNER</h4>
                    <div class="mod__row-1">
                        <div class="mod__col-1">
                            <div class="mod__text-2">Общая информация</div>
                            <table class="mod__table-1">
                                <tr>
                                    <td>Начало занятий</td>
                                    <td>18 Января 2017</td>
                                </tr>
                                <tr>
                                    <td>Дни недели</td>
                                    <td>Понедельник, Среда</td>
                                </tr>
                                <tr>
                                    <td>Время занятий</td>
                                    <td>19:00-20:30</td>
                                </tr>
                                <tr>
                                    <td>Метро</td>
                                    <td>Волгоградский пр-т</td>
                                </tr>
                            </table>
                        </div>
                        <div class="mod__col-1">
                            <div class="mod__text-2">Стоимость занятий</div>
                            <table class="mod__table-1">
                                <tr>
                                    <td>Разовое посещение</td>
                                    <td>550</td>
                                </tr>
                                <tr>
                                    <td>Абонемент на 8 занятий (1 пропуск)</td>
                                    <td>3500</td>
                                </tr>
                                <tr>
                                    <td>Абонемент на 16 занятий (2 пропуска)</td>
                                    <td>6400</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="mod__row-2">
                        <div class="mod__col-2">
                            <div class="mod__text-3">
                                Подробнее о курсе
                            </div>
                            <ul class="mod__text-ul-1">
                                <li>Специально разработанная и постоянно совершенствующаяся программа;</li>
                                <li>Опытный тренерский тандем, состоящий из 2х действующих судей и членов Аттестационной
                                    комиссии АСХ;
                                </li>
                                <li>Отличный зал для сампо через стенку от зала, в котором проходят занятия (и недорогой
                                    абонемент на сампо);
                                </li>
                                <li>Регулярные дополнительные закрытые ДнД сампо под руководством как основных тренеров
                                    группы, так и других ведущих тренеров клуба.
                                </li>
                            </ul>
                        </div>
                        <div class="mod__col-2">
                            <div class="mod__text-3">
                                В конце курса Вы научитесь
                            </div>
                            <div>Что вас ждет?</div>
                            <ul class="mod__text-ul-1">
                                <li>Чистим базовую технику (баланс, линии, бейсик);
                                </li>
                                <li>Учим фигуры и связки с различными вариантами стайлинга;</li>
                                <li>Развиваем взаимодействие и музыкальность;</li>
                                <li>Регулярные прогоны и фидбеки, индивидуальный подход;</li>
                                <li>Дружная команда «лемуров» (ученики Виталика и Гали) или «крейзи белок» (ученики
                                    Сергея и Тани), которая всегда поддержит вас на паркете — и вне него;
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="mod__trener-text">Преподаватели</div>
                    <div class="mod__trener-row">
                        <div class="mod__trener-col">
                            <div class="mod__trener-img">
                                <img src="img/example/mod/3.jpg" alt="">
                            </div>
                        </div>
                        <div class="mod__trener-col">
                            <div class="mod__trener-text-1">Михаил Кудрявцев</div>
                            <ul class="mod__trener-text-ul">
                                <li> А и Star класс по хастлу, действующий Чемпион России в категории Star
                                </li>
                                <li>Тренер сильнейших танцоров (в том числе семерых из ТОП-30 России)
                                </li>
                                <li>Судья высшей категории, главный судья десятков танцевальных турниров, член
                                    Аттестационной комиссии судей
                                </li>


                            </ul>
                            <div class="mod__trener-text-2" style="margin-bottom: 1rem;">Настоящий фанат своего дела,
                                который никогда не успокоится, пока не добьется наилучшего результата во всем:
                            </div>
                            <ul class="mod__trener-text-ul">
                                <li>Вернуться на паркет, несмотря на запреты врачей - и стать чемпионом!</li>
                                <li>Открыть свою танцевальную школу в 22 года без какой-либо поддержки со стороны - и за
                                    пару лет вывести ее в топ-3 школ Москвы!
                                </li>
                                <li>Сделать из учеников «с нуля» королей танцпола – сотни примеров!</li>

                            </ul>
                            <br>
                        </div>
                        <div class="mod__trener-col">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe allowfullscreen class="embed-responsive-item"
                                        src="https://www.youtube.com/embed/bwZEmnkovxo"></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="mod__trener-row">
                        <div class="mod__trener-col">
                            <div class="mod__trener-img">
                                <img src="img/example/mod/11.jpg" alt="">
                            </div>
                        </div>
                        <div class="mod__trener-col">
                            <div class="mod__trener-text-1">Ирина Кудрявцева</div>
                            <ul class="mod__trener-text-ul">
                                <li>А и Star класс по хастлу, Чемпионка Москвы 2010 и двукратная финалистка Чемпионата
                                    России;
                                </li>
                                <li>Тренер сильнейших танцоров России, судья высшей категории.
                                </li>
                            </ul>
                            <div class="mod__trener-text-2">«Я профессионально занималась танцами всю жизнь, но в 20 лет
                                из-за травмы пришлось прервать выступления, это был тяжелый период - я с трудом могла
                                ходить, привычный круг общения распался, я рассталась с молодым человеком…<br>

                                Тогда в моей жизни появился хастл, который подарил мне шанс вернуться в танцевальный мир
                                (ведь хастл могут танцевать абсолютно все), сотни друзей, дело моей жизни и главное –
                                любовь, которую я нашла в лице своего партнера Миши. С тех пор я сама помогла многим
                                найти идеальную пару – и для занятий, и для жизни»
                            </div>
                        </div>
                        <div class="mod__trener-col">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe allowfullscreen class="embed-responsive-item"
                                        src="https://www.youtube.com/embed/PRowD__9axQ"></iframe>
                            </div>
                        </div>
                    </div>

                    <div class="mod__form-wrap">
                        <div class="mod__trener-text">Записаться</div>
                        <div class="modal-group">
                            <label class="modal-group__label">Ваше имя:</label>
                            <input name="name" class="modal-group__input" type="text"
                                   placeholder="Иван Иванов">
                        </div>
                        <div class="modal-group">
                            <label class="modal-group__label">Ваш телефон <span>*</span>:</label>
                            <input name="tel" class="modal-group__input js-mask-phone required" type="text"
                                   placeholder="+7 (___) ___-__-__" required>
                        </div>
                        <div class="modal-group">
                            <button class="modal-group__button" type="submit">Записаться</button>
                        </div>
                    </div>

                    <div class="mod__text-5">
                        Тренеры ТСК "Динамика" и специальная группа организаторов создают активную социальную жизнь
                        клуба. ТСК "Динамика" является известным организатором любимых хастловцами дискотек и
                        популярнейших хастл-вечеринок, клуб активно проводит культурно-массовые мероприятия,
                        благотворительные акции, спортивные и развлекательные выезды, посиделки в ресторанах и кафешках,
                        шашлыки, походы, танцы под открытым небом, выездные сборы, поездки на танцевальные турниры в
                        разные города и страны, флешмобы, катания на коньках, лыжах, лошадях и прочие интегрирующие
                        учеников мероприятия, так что в их группах всегда складываются дружеские и тёплые отношения
                        между людьми, что позволит Вам обрести замечательную интересную компанию, новых друзей и,
                        возможно, встретить свою любовь!
                    </div>
                    <div class="mod__trener-text">Как проехать</div>
                    <div class="mod__map-row">
                        <div class="mod__map-col">
                            <div class="mod__map-img-wrap">
                                <img src="img/example/mod/map3.jpg">
                            </div>
                        </div>
                        <div class="mod__map-col">
                            <div class="mod__map-text-1"><b>Адрес зала:</b>

                                метро Волгоградский пр-т, Волгоградский проспект 32 стр. 8
                            </div>
                            <div class="mod__map-text-1"><b>Код от этажа:</b> 1299</div>
                            <div class="mod__map-text-2"><b>Площадь зала:</b> 90 кв.м.</div>

                            <div class="mod__map-text-1"><b>Напольное покрытие:</b> ламинат;</div>
                            <div class="mod__map-text-1"><b> Воздух:</b> сплит-система, вытяжка;</div>
                            <div class="mod__map-text-1"><b>Раздевалки:</b> мужская, женская;</div>
                            <div class="mod__map-text-2"><b>Душ:</b> есть;</div>

                            <div class="mod__map-text-1"><b>Описание дороги до зала:</b></div>
                            <div class="mod__map-text-2">1й вагон из центра, из стеклянных дверей налево. Идем прямо
                                вдоль Волгоградского проспекта до Академии МФЮА, поворачиваем направо в арку под
                                шлагбаум, далее прямо метров 100, до арки для въезда машин, слева от арки красный
                                пластиковый козырек, заходим в этот подъезд, поднимаемся на 3 этаж, и в левое крыло.
                                Сначала будут раздевалки, где можно переодеться и оставить верхнюю одежду/обувь, ценные
                                вещи берем с собой в зал, который находится в самом конце этого коридора.
                            </div>
                            <div class="mod__map-text-2">Любые вопросы можно задать по телефону: <a
                                    href="tel:+79168246661">+7-916-824-666-1</a></div>
                        </div>
                    </div>



                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $('#js-modal-ajax-plan').on('hidden.bs.modal', function (e) {
        window.location.hash = "!";
        $('#js-modal-ajax-plan').remove();
    });
</script>