<div class="modal fade" id="js-modal-ajax-plan" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form class="form-ajax" action="lead.php" method="POST">
                    <input type="hidden" name="google_c" value="group_form63">
                    <input type="hidden" name="yandex_c" value="GROUP_CONFIRM">
                    <input type="hidden" name="type" value="Запись в группу">
                    <input type="hidden" name="detail" id="modal-detail" value="">
                    <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                        <span>&times;</span>
                    </button>
                    <h4 class="modal-title">Хастл продолжающие</h4>
                    <div class="mod__row-1">
                        <div class="mod__col-1">
                            <div class="mod__text-2">Общая информация</div>
                            <table class="mod__table-1">
                                <tr>
                                    <td>Начало занятий</td>
                                    <td>1 Ноября 2016</td>
                                </tr>
                                <tr>
                                    <td>Дни недели</td>
                                    <td>Вторник, Четверг</td>
                                </tr>
                                <tr>
                                    <td>Время занятий</td>
                                    <td>19:00-20:30</td>
                                </tr>
                                <tr>
                                    <td>Метро</td>
                                    <td>Волгоградский пр-т</td>
                                </tr>
                            </table>
                        </div>
                        <div class="mod__col-1">
                            <div class="mod__text-2">Стоимость занятий</div>
                            <table class="mod__table-1">
                                <tr>
                                    <td>Разовое посещение</td>
                                    <td>550</td>
                                </tr>
                                <tr>
                                    <td>Абонемент на 8 занятий (1 пропуск)</td>
                                    <td>3500</td>
                                </tr>
                                <tr>
                                    <td>Абонемент на 16 занятий (2 пропуска)</td>
                                    <td>6400</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="mod__row-2">
                        <div class="mod__col-2">
                            <div class="mod__text-3">
                                Подробнее о курсе
                            </div>
                            <div>Вам — сюда, если:</div>
                            <ul class="mod__text-ul-1">
                                <li>Вы окончили курс «Начинающие» в любой школе хастла и хотите продолжить обучение;</li>
                                <li>Вы когда-то изучили основы хастла, затем забросили занятия — но хотите вернуться;</li>
                                <li>Вы начинали учиться самостоятельно/на дискотеках, но хотите систематизировать знания;</li>
                            </ul>
                        </div>
                        <div class="mod__col-2">
                            <div class="mod__text-3">
                                В конце курса Вы научитесь
                            </div>
                            <div>Что ждет вас на группе?</div>
                            <ul class="mod__text-ul-1">
                                <li>Развитие базовых танцевальных навыков (баланс, пластика, скорость);
                                </li>
                                <li>Много оригинальных элементов и связок;</li>
                                <li>Основы стайлинга (того, что позволит вам разнообразить простые фигуры и выделиться из толпы);</li>
                                <li>Развитие взаимодействия и музыкальности;</li>
                            </ul>
                        </div>
                    </div>
                    <div class="mod__trener-text">Преподаватели</div>
                    <div class="mod__trener-row">
                        <div class="mod__trener-col">
                            <div class="mod__trener-img">
                                <img src="img/example/mod/7.jpg" alt="">
                            </div>
                        </div>
                        <div class="mod__trener-col">
                            <div class="mod__trener-text-1">Татьяна Дутчак</div>
                            <ul class="mod__trener-text-ul">
                                <li> А и Star класс по хастлу, призер Чемпионатов Москвы и России в различных
                                    номинациях, действующая вице-чемпионка России в номинации «шоу-хастл»
                                </li>
                                <li>Мастер спорта, лицензированный тренер (МФТС)
                                </li>

                            </ul>
                            <div class="mod__trener-text-2">Татьяна – невероятно чуткий
                                педагог с впечатляющим танцевальным (24 года) и преподавательским (6 лет) стажем.
                                Специализируется на работе с начинающими, славится тем, что умеет «раскрыть» любого в
                                танце (даже самых стеснительных, неуклюжих и робких) и с первых шагов учит быть
                                женственными (или мужественными). А еще ее группы – самые веселые дружные!
                            </div>


                        </div>
                        <div class="mod__trener-col">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe allowfullscreen class="embed-responsive-item"
                                        src="https://www.youtube.com/embed/6f25hgK6bio?list=PLBc74jIHP1AP4uYtVEk2-OSTO68HREooX"></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="mod__trener-row">
                        <div class="mod__trener-col">
                            <div class="mod__trener-img">
                                <img src="img/example/mod/8.jpg" alt="">
                            </div>
                        </div>
                        <div class="mod__trener-col">
                            <div class="mod__trener-text-1">Сергей Хитянов</div>
                            <ul class="mod__trener-text-ul">
                                <li>A и Star-класс по хастлу
                                </li>
                                <li>Танцевальный стаж – 7 лет, преподавательский стаж – 3 года
                                </li>
                            </ul>
                            <div class="mod__trener-text-2">«Мне с детства нравились танцевальные сцены в кино, но не
                                хватало уверенности в себе, чтобы танцевать самому, думал, что уже поздно начать. Помог
                                случай – мы ставили номер по «Грязным танцам» к университетскому празднику и я понял,
                                как много терял, откладывая. Теперь стараюсь в первую очередь помочь своим ученикам
                                избавиться от страхов и перестать сомневаться в себе»
                            </div>
                        </div>
                        <div class="mod__trener-col">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe allowfullscreen class="embed-responsive-item"
                                        src="https://www.youtube.com/embed/jI5AIetW6jY"></iframe>
                            </div>
                        </div>
                    </div>

                    <div class="mod__form-wrap">
                        <div class="mod__trener-text">Записаться</div>
                        <div class="modal-group">
                            <label class="modal-group__label">Ваше имя:</label>
                            <input name="name" class="modal-group__input" type="text"
                                   placeholder="Иван Иванов">
                        </div>
                        <div class="modal-group">
                            <label class="modal-group__label">Ваш телефон <span>*</span>:</label>
                            <input name="tel" class="modal-group__input js-mask-phone required" type="text"
                                   placeholder="+7 (___) ___-__-__" required>
                        </div>
                        <div class="modal-group">
                            <button class="modal-group__button" type="submit">Записаться</button>
                        </div>
                    </div>

                    <div class="mod__text-5">
                        Тренеры ТСК "Динамика" и специальная группа организаторов создают активную социальную жизнь
                        клуба. ТСК "Динамика" является известным организатором любимых хастловцами дискотек и
                        популярнейших хастл-вечеринок, клуб активно проводит культурно-массовые мероприятия,
                        благотворительные акции, спортивные и развлекательные выезды, посиделки в ресторанах и кафешках,
                        шашлыки, походы, танцы под открытым небом, выездные сборы, поездки на танцевальные турниры в
                        разные города и страны, флешмобы, катания на коньках, лыжах, лошадях и прочие интегрирующие
                        учеников мероприятия, так что в их группах всегда складываются дружеские и тёплые отношения
                        между людьми, что позволит Вам обрести замечательную интересную компанию, новых друзей и,
                        возможно, встретить свою любовь!
                    </div>
                    <div class="mod__trener-text">Как проехать</div>
                    <div class="mod__map-row">
                        <div class="mod__map-col">
                            <div class="mod__map-img-wrap">
                                <img src="img/example/mod/map3.jpg">
                            </div>
                        </div>
                        <div class="mod__map-col">
                            <div class="mod__map-text-1"><b>Адрес зала:</b>

                                метро Волгоградский пр-т, Волгоградский проспект 32 стр. 8
                            </div>
                            <div class="mod__map-text-1"><b>Код от этажа:</b> 1299</div>
                            <div class="mod__map-text-2"><b>Площадь зала:</b> 90 кв.м.</div>

                            <div class="mod__map-text-1"><b>Напольное покрытие:</b> ламинат;</div>
                            <div class="mod__map-text-1"><b> Воздух:</b> сплит-система, вытяжка;</div>
                            <div class="mod__map-text-1"><b>Раздевалки:</b> мужская, женская;</div>
                            <div class="mod__map-text-2"><b>Душ:</b> есть;</div>

                            <div class="mod__map-text-1"><b>Описание дороги до зала:</b></div>
                            <div class="mod__map-text-2">1й вагон из центра, из стеклянных дверей налево. Идем прямо
                                вдоль Волгоградского проспекта до Академии МФЮА, поворачиваем направо в арку под
                                шлагбаум, далее прямо метров 100, до арки для въезда машин, слева от арки красный
                                пластиковый козырек, заходим в этот подъезд, поднимаемся на 3 этаж, и в левое крыло.
                                Сначала будут раздевалки, где можно переодеться и оставить верхнюю одежду/обувь, ценные
                                вещи берем с собой в зал, который находится в самом конце этого коридора.
                            </div>
                            <div class="mod__map-text-2">Любые вопросы можно задать по телефону: <a
                                    href="tel:+79168246661">+7-916-824-666-1</a></div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $('#js-modal-ajax-plan').on('hidden.bs.modal', function (e) {
        window.location.hash = "!";
        $('#js-modal-ajax-plan').remove();
    });
</script>