<div class="modal fade" id="js-modal-ajax-plan" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form class="form-ajax" action="lead.php" method="POST">
                    <input type="hidden" name="google_c" value="group_form63">
                    <input type="hidden" name="yandex_c" value="GROUP_CONFIRM">
                    <input type="hidden" name="type" value="Запись в группу">
                    <input type="hidden" name="detail" id="modal-detail" value="">
                    <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                        <span>&times;</span>
                    </button>
                    <h4 class="modal-title">Хастл - продолжающие</h4>
                    <div class="mod__row-1">
                        <div class="mod__col-1">
                            <div class="mod__text-2">Общая информация</div>
                            <table class="mod__table-1">
                                <tr>
                                    <td>Начало занятий</td>
                                    <td>10 Января 2017</td>
                                </tr>
                                <tr>
                                    <td>Дни недели</td>
                                    <td>Вторник, Пятница</td>
                                </tr>
                                <tr>
                                    <td>Время занятий</td>
                                    <td>20:00-21:30</td>
                                </tr>
                                <tr>
                                    <td>Метро</td>
                                    <td>Улица 1905 года</td>
                                </tr>
                            </table>
                        </div>
                        <div class="mod__col-1">
                            <div class="mod__text-2">Стоимость занятий</div>
                            <table class="mod__table-1">
                                <tr>
                                    <td>Разовое посещение</td>
                                    <td>550</td>
                                </tr>
                                <tr>
                                    <td>Абонемент на 8 занятий (1 пропуск)</td>
                                    <td>3500</td>
                                </tr>
                                <tr>
                                    <td>Абонемент на 16 занятий (2 пропуска)</td>
                                    <td>6400</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="mod__row-2">
                        <div class="mod__col-2">
                            <div class="mod__text-3">
                                Подробнее о курсе
                            </div>
                            <div>Вам — сюда, если:</div>
                            <ul class="mod__text-ul-1">
                                <li>Вы окончили курс «Начинающие» в любой школе хастла и хотите продолжить обучение;
                                </li>
                                <li>Вы когда-то изучили основы хастла, затем забросили занятия — но хотите вернуться;
                                </li>
                                <li>Вы начинали учиться самостоятельно/на дискотеках, но хотите систематизировать
                                    знания;
                                </li>
                            </ul>
                        </div>
                        <div class="mod__col-2">
                            <div class="mod__text-3">
                                В конце курса Вы научитесь
                            </div>
                            <div>Что ждет вас на группе?</div>
                            <ul class="mod__text-ul-1">
                                <li>Развитие базовых танцевальных навыков (баланс, пластика, скорость);
                                </li>
                                <li>Много оригинальных элементов и связок;</li>
                                <li>Основы стайлинга (того, что позволит вам разнообразить простые фигуры и выделиться
                                    из толпы);
                                </li>
                                <li>Развитие взаимодействия и музыкальности;</li>
                            </ul>
                        </div>
                    </div>
                    <div class="mod__trener-text">Преподаватели</div>
                    <div class="mod__trener-row">
                        <div class="mod__trener-col">
                            <div class="mod__trener-img">
                                <img src="img/example/mod/4.jpg" alt="">
                            </div>
                        </div>
                        <div class="mod__trener-col">
                            <div class="mod__trener-text-1">Екатерина Новикова</div>
                            <ul class="mod__trener-text-ul">
                                <li>В и Star-класс, 25-кратный призер и 11-кратная чемпионка общероссийских чемпионатов
                                    по хастлу, входит в ТОП-10 лучших танцовщиц хастла в России (2016);
                                </li>
                                <li>Танцевальный стаж — 10 лет, преподавательский стаж — 3 года, судья 3 категории.
                                </li>
                            </ul>
                            <div class="mod__trener-text-2">«Я занялась хастлом на последнем курсе университета, после
                                вернулась в родной город — но уже не могла остановиться и продолжала ездить на
                                тренировки несколько раз в неделю за 160 км. С тех пор любовь к танцам вела меня по
                                жизни, из-за нее я переехала сначала в Новосибирск, а затем — в Москву… И эту любовь я
                                хочу передать своим ученикам, ведь хастл — как вкусная шоколадка. Оторваться
                                невозможно!»
                            </div>
                        </div>
                        <div class="mod__trener-col">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe allowfullscreen class="embed-responsive-item"
                                        src="https://www.youtube.com/embed/LGWWCNOtlSQ"></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="mod__trener-row">
                        <div class="mod__trener-col">
                            <div class="mod__trener-img">
                                <img src="img/example/mod/10.jpg" alt="">
                            </div>
                        </div>
                        <div class="mod__trener-col">
                            <div class="mod__trener-text-1">Евгений Скориков - ассистент</div>
                            <ul class="mod__trener-text-ul">
                                <li>Танцор Main-класса. Высшее хореографическое образование.
                                </li>
                                <li>Танцевальный стаж – 20 лет, помимо хастла танцует jazz funk, джаз-модерн, эстрадные,
                                    бальные, танцор известных шоу и мюзиклов.
                                </li>
                                <li>Входит в топ-20 партнеров класса Main в России, 8-кратный призер различных турниров,
                                    чемпион Санкт-Петербурга 2016 (категория Main).
                                </li>
                            </ul>
                            <div class="mod__trener-text-2">«На танцы меня отдали родители в возрасте 5 лет — чтобы
                                перестал косолапить. Поначалу скучал, терпел и выслушивал насмешки приятелей, но позже,
                                когда сверстники мучились от того, что не знают, как подступиться к девочкам, понял, как
                                мне повезло! В танцах прикосновения при общении естественны, а мужчина-танцор знает, как
                                выглядеть привлекательным — даже если 20 лет спустя продолжает косолапить ;)»
                            </div>
                        </div>
                        <div class="mod__trener-col">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe allowfullscreen class="embed-responsive-item"
                                        src="https://www.youtube.com/embed/-kCB3xQT0jY"></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="mod__form-wrap">
                        <div class="mod__trener-text">Записаться</div>
                        <div class="modal-group">
                            <label class="modal-group__label">Ваше имя:</label>
                            <input name="name" class="modal-group__input" type="text"
                                   placeholder="Иван Иванов">
                        </div>
                        <div class="modal-group">
                            <label class="modal-group__label">Ваш телефон <span>*</span>:</label>
                            <input name="tel" class="modal-group__input js-mask-phone required" type="text"
                                   placeholder="+7 (___) ___-__-__" required>
                        </div>
                        <div class="modal-group">
                            <button class="modal-group__button" type="submit">Записаться</button>
                        </div>
                    </div>

                    <div class="mod__text-5">
                        Тренеры ТСК "Динамика" и специальная группа организаторов создают активную социальную жизнь
                        клуба. ТСК "Динамика" является известным организатором любимых хастловцами дискотек и
                        популярнейших хастл-вечеринок, клуб активно проводит культурно-массовые мероприятия,
                        благотворительные акции, спортивные и развлекательные выезды, посиделки в ресторанах и кафешках,
                        шашлыки, походы, танцы под открытым небом, выездные сборы, поездки на танцевальные турниры в
                        разные города и страны, флешмобы, катания на коньках, лыжах, лошадях и прочие интегрирующие
                        учеников мероприятия, так что в их группах всегда складываются дружеские и тёплые отношения
                        между людьми, что позволит Вам обрести замечательную интересную компанию, новых друзей и,
                        возможно, встретить свою любовь!
                    </div>
                    <div class="mod__trener-text">Как проехать</div>
                    <div class="mod__map-row">
                        <div class="mod__map-col">
                            <div class="mod__map-img-wrap">
                                <img src="img/example/mod/map4.jpg">
                            </div>
                        </div>
                        <div class="mod__map-col">
                            <div class="mod__map-text-1"><b>Адрес зала:</b>

                                м. Улица 1905 года Пресненский вал 7
                            </div>
                            <div class="mod__map-text-2"><b>Площадь зала:</b> 75 кв.м.</div>

                            <div class="mod__map-text-1"><b>Напольное покрытие:</b> ламинат;</div>
                            <div class="mod__map-text-1"><b> Воздух:</b> сплит-система, вытяжка;</div>
                            <div class="mod__map-text-1"><b>Раздевалки:</b> мужская, женская;</div>

                            <div class="mod__map-text-1"><b>Описание дороги до зала:</b></div>
                            <div class="mod__map-text-2">Метро - улица 1905 года, последний вагон из центра, налево вдоль улицы Пресненский Вал. Доходим до дома номер 7, заходим в подъезд в виде красной башни (справа от него зоомагазин).
                            </div>
                            <div class="mod__map-text-2">Любые вопросы можно задать по телефону: <a
                                    href="tel:+79168246661">+7-916-824-666-1</a></div>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $('#js-modal-ajax-plan').on('hidden.bs.modal', function (e) {
        window.location.hash = "!";
        $('#js-modal-ajax-plan').remove();
    });
</script>