</<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Танцевальный клуб - Динамика</title>
    {% load staticfiles %}
    <!--link href="style.css" type="text/css" rel="stylesheet"/-->
    <link href="{% static "css/style.css" %}" type="text/css" rel="stylesheet"/>
    <link href='https://fonts.googleapis.com/css?family=Philosopher:400,700,400italic&subset=cyrillic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,600&subset=cyrillic' rel='stylesheet' type='text/css'>
    <link href="{% static "css/icons.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static "css/prebuff.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static "css/buff.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="icon" type="image/png" href="{% static "img/favicon.png" %}"/>
</head>
<body>
    <nav>
        <div class="wrapper1">
            <a href='/'>
                <div style="cursor: pointer;" class="logo"></div>
            </a>
            <ul>
                <li><a href="/#nv9" title="тренеры">Почему мы?</a></li>
                <li><a href="/#nv6" title="тренеры">тренеры</a></li>
                <li><a href="/#nv2" title="отзывы">отзывы</a></li>
                <li><a href="/#nv3" title="фото">фото</a></li>
                <li><a href="/#nv8" title="адреса">адреса</a></li>
                <li><a href="/#nv4" title="расписание">расписание</a></li>
                <li><a href="/#nv5" title="цена">цены</a></li>
                <li><a href="/#nv7" title="записаться">записаться</a></li>
            </ul>
            <div class="clear"></div>
        </div>
    </nav>
    <header>
        <div class="wrapper">
            <div class="headerc1">
                <div class="ht1">
                    <div class="ph1">
                        <img src="{% static "img/phone1.png" %}" alt="Танцевальный клуб - Динамика" width="100%" height="auto"/>+7 (916) 824-666-1
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="ht2">Найди друзей, идеальную пару и самого себя - танцуя!
                </div>
                <div class="ht3">
                    Спасибо, что Вы выбрали именно нас!<br>
                    Наш администратор свяжется с Вами в ближайшее время.<br>
                    <br>
                    Всегда Ваша,<br>
                    комманда ТСК "Динамика"
                    <!-- <b style="margin-bottom:10px; display:block;">Хастл – это не просто модный парный танец, но и
                        способ:</b>
                    <ul>
                        <li>Знакомиться с десятками девушек или парней за вечер;</li>
                        <li>Поддерживать себя в форме без нудного фитнеса;</li>
                        <li>Не скучать вечерами за компьютером в одиночестве;</li>
                        <li>Найти свою "танцевальную семью" и зажигать вместе</li>
                    </ul>
                    <a href="#!" title="записаться на бесплатное занятие" class="btn1" onclick="softScroll('#nv7')">записаться
                        на бесплатное занятие</a> -->
                </div>
            </div>
        </div>
    </header>
</body>
</html>